.results {
    width: 100%;
    margin-top: 20px;

    .results__wrapper {
        margin-top: 10px;
        width: 100%;
        background-color: #eeeeee;
        margin: 10px 0 20px 0;
        padding: 20px;
    }

    .code__wrapper {
        border: 1px solid #c4c4c4;
        width: 100%;
        margin: 10px 0 20px 0;
        padding: 20px;
    }
}