@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import 'Header.scss';
@import 'Main.scss';
@import 'InputUrl.scss';
@import 'TrafficRadios.scss';
@import 'Parameters.scss';
@import 'Result.scss';
@import 'UsageInfo.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 14%;
  background-color: #EEEEEE;
}

@media screen and (max-width: 1155px) {

  .qr__wrapper {
    flex-direction: column;
  }

  .qr__wrapper>* {
    margin-top: 10px;
  }

}

@media screen and (max-width: 991px) {

  .params__wrapper {
    flex-direction: column;
  }

  .params__required,
  .params__norequired {
    width: 100%;
  }

  .url__wrapper {
    margin: 5px 0 0 0;
    display: block;
  }

}

@media screen and (max-width: 600px) {

  body {
    padding: 5% 10%;
  }

  .params__input__wrapper {
    flex-direction: column;
  }

  .params__input__wrapper>* {
    margin: 10px 0;
  }

  .short__url__select {
    flex-direction: column;
  }

  .short__url__select>* {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 450px) {

  .qr__img {
    width: 150px;
  }

}

@media screen and (max-width: 390px) {

  .qr__img {
    width: 120px;
  }

}