.result__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    margin: 4% 0;
}

.url__wrapper {
    display: flex;
    align-items: center;
}

.short__url, .qr__code{
    margin-top: 10px;
}

.qr__wrapper {
    padding-top: 10px;
    display: flex;
}

.strong__text {
    font-weight: bold !important;
}

.qr__img__wrapper {
    padding: 0 10px;
    text-align: center;
}

.qr__img__wrapper > h3 {
    margin-bottom: 10px;
}

.short__url__select {
    display: flex;
    width: 100%;
}