.usage__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    margin: 4% 0;
}

.usage__info__wrapper {
    margin-top: 15px;
}